html, body {
                background-color: #fff;
                color: #303030;
                font-family: Poppins, sans-serif;
                font-weight: 200;
                height: 100%;
                line-height: 1.8em;
                margin-top: -10px;
                width: 100%;

            }

            body{
              overflow-x:hidden; 
            }

/* Top image */
        .pimg {
            margin:0;
  background-image: url("/images/travel1.jpeg");
  min-height: 500px;
  position: relative;
  width:100%;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Middle Quote styling */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: auto;
  vertical-align: -0.4em;
}

.quote{
    margin-left: 10%;
    width:80%;
}

/* Top links login and register */
.top-right {
  z-index:10;
     position: absolute;
    top:4%;
    width:100%;
   right: 10px;
                
    }

.links > a {
   color: #000;
    position: overlay;
    padding: 0 15px;
   font-size: 1.2em;
   font-weight: 600;
   letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #ffffff,0px 0px 10px #ffffff,0px 0px 15px #ffffff;
}

/* Site name middle */

            .mid-section{
                position:absolute;
                top:50%;
                width: 100%;
                
            }

            /*.mid-section-middle {
                margin:auto;
                width: 400px;
            }*/

.mid-section-middle{
  width: 350px;
                font-family: Poppins;
    background-color: #303030;
        font-weight: 600;
        font-size:2.5em;
        color:#fff;
outline: 0.2em solid white;
outline-offset: 0.4em; 
margin:auto;
            padding: 5px 0px;

}


/* Places pictures */

.place-images{
  width:100%;
  height: 250px;
}

div.polaroid-text {
  text-align: center;
  padding: 10px 20px;
}

div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}




.infoRight{
    width: 90%;
        font-family: Poppins, sans-serif;
        margin-top:5%;
  margin-left: 5%;
}

.down-image{
 margin:0;
  background-image: url("/images/travel2.jpeg");
  min-height: 500px;
  width:100%;
  opacity: 1;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;   
}
/*.info-mid h1{
    
    font-family: 'Helvetica Neue';
    font-size: 80px;
    font-weight: 2em;
    letter-spacing: -1px;
}
.info-mid h2{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 1em;
    letter-spacing: -1px;
}*/


.down-text{

}

.down-text h1 { 
    color: #fff; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
     }


 @media(max-width: 450px) {
              .mid-section-middle{
                width: 90%;
              }
            }   

/*Slider Style*/

input[type=range].mySlider {
  -webkit-appearance: none;
  width: 90%;
  margin: 5px 0;
}
input[type=range].mySlider:focus {
  outline: none;
}
input[type=range].mySlider::-webkit-slider-runnable-track {
  width: 90%;
  height:8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #428bca;
  border-radius: 2px;
  border: 0.1px solid #666;
}
input[type=range].mySlider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #666;
  border: 1px solid #000000;
  height: 28px;
  width: 13px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range].mySlider:focus::-webkit-slider-runnable-track {
  background: #428bca;
}
input[type=range].mySlider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #666666;
}
input[type=range].mySlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].mySlider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].mySlider::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].mySlider::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].mySlider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 4px;
}
input[type=range].mySlider:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range].mySlider:focus::-ms-fill-upper {
  background: #000000;
}


.categorySlider{
  width:30%;
}

.planPlaces{
background-color:#fafafa;
  padding:5px;
  height:auto;
  margin-left:6px;
  margin-bottom:10px;
  position:relative;
}

.planPlaces > button{
  float:right;
    margin-top:5px;
    margin-right:5px;
    cursor:pointer;
    color: #fff;
    height: 2px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    background: #605F61;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 5px 2px; 
}
.planPlaces > button:before {
    content: "×";
}

.planPlace a:hover{
  cursor:pointer;
  cursor:hand;
}


.planImages{
  width:160px;
  height:140px;
}

.vertical-row {
 height:30px;
 width:10px;
 background-color: #c9c9c9;
} 

.vertical-row-parent{
  display:inline-flex;
}

.vertical-row-parent h5{
  margin-left:12px;
  color:#a1a1a1;
}
